<h1 class="text-center mb-3">40K Tabletop Game Squad Constructor</h1>

<h4>Admin Page: {{planSubtitle}}</h4>
<h5>ArmyLists</h5>
<h5>AssaultSquads</h5>

<h5>Sergeants</h5>
<div class = "d-flex flex-row"></div>
    {{!-- Space Marines TABLE --}}
    <table class="table table-hover table-dark table-striped">
        <tbody>
            <tr>
                <th scope = "row">Add/Remove </th>
                <th scope = "row">ID </th>
                <th scope = "row">Name</th>
                <th scope = "row">Equipment 1 </th>
                <th scope = "row">Equipment 2 </th>
                <th scope = "row">Point Cost </th>
            </tr>
    {{!-- DISPLAY ALL CURRENT MARINES --}}
        {{#each marine}}
        <tr>
            <td>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <form action ="/" method="post" class= "mb-4">
                            <div class = "d-flex flex-row btn-group ">
                                <input type="button" name="-Squad" value="-" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </form>
            </td>
            <td>{{marine.spaceMarineID}}</td>
            <td>{{marine.assaultSquadID}}</td>
            <td>{{marine.name}}</td>
            {{#each equipments}}
            <td>
                {{!-- EACH EQUIPMENTS ASSOCIATED --}}
            </td>
            {{/each}}
            <td>{{marine.basePointCost}}</td>
        </tr>
        {{/each}}
    {{!-- ADD MARINES --}}
            <tr>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <td>
                            <form action ="/" method="post" class= "mb-4">
                                <div class = "d-flex flex-row">
                                    <div class="btn-group ">
                                        <input type="button" name="+Squad" value="+" class="btn btn-primary">
                                        <input type="button" name="-Squad" value="-" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>--</td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="SpaceMarine1"> 
                            </div>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon1</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon2</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="15"> {{!--CHANGE THIS TO AN INT FIELD--}}
                            </div>
                        </td>
                    </div>
                </form>
            </tr>
            <tr>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <td>
                            <form action ="/" method="post" class= "mb-4">
                                <div class = "d-flex flex-row">
                                    <div class="btn-group ">
                                        <input type="button" name="+Squad" value="+" class="btn btn-primary">
                                        <input type="button" name="-Squad" value="-" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>--</td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="SpaceMarine2"> 
                            </div>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon1</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon2</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="15"> {{!--CHANGE THIS TO AN INT FIELD--}}
                            </div>
                        </td>
                    </div>
                </form>
            </tr>
        </tbody>
    </table>

<h5>SpaceMarines</h5>
<div class = "d-flex flex-row"></div>
    {{!-- Space Marines TABLE --}}
    <table class="table table-hover table-dark table-striped">
        <tbody>
            <tr>
                <th scope = "row">Add/Remove </th>
                <th scope = "row">ID </th>
                <th scope = "row">Name</th>
                <th scope = "row">Equipment 1 </th>
                <th scope = "row">Equipment 2 </th>
                <th scope = "row">Point Cost </th>
            </tr>
    {{!-- DISPLAY ALL CURRENT MARINES --}}
        {{#each marine}}
        <tr>
            <td>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <form action ="/" method="post" class= "mb-4">
                            <div class = "d-flex flex-row btn-group ">
                                <input type="button" name="-Squad" value="-" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </form>
            </td>
            <td>{{marine.spaceMarineID}}</td>
            <td>{{marine.assaultSquadID}}</td>
            <td>{{marine.name}}</td>
            {{#each equipments}}
            <td>
                {{!-- EACH EQUIPMENTS ASSOCIATED --}}
            </td>
            {{/each}}
            <td>{{marine.basePointCost}}</td>
        </tr>
        {{/each}}
    {{!-- ADD MARINES --}}
            <tr>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <td>
                            <form action ="/" method="post" class= "mb-4">
                                <div class = "d-flex flex-row">
                                    <div class="btn-group ">
                                        <input type="button" name="+Squad" value="+" class="btn btn-primary">
                                        <input type="button" name="-Squad" value="-" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>--</td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="SpaceMarine1"> 
                            </div>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon1</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon2</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="15"> {{!--CHANGE THIS TO AN INT FIELD--}}
                            </div>
                        </td>
                    </div>
                </form>
            </tr>
            <tr>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <td>
                            <form action ="/" method="post" class= "mb-4">
                                <div class = "d-flex flex-row">
                                    <div class="btn-group ">
                                        <input type="button" name="+Squad" value="+" class="btn btn-primary">
                                        <input type="button" name="-Squad" value="-" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>--</td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="SpaceMarine2"> 
                            </div>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon1</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <select class="custom-select mr-sm-2" id="weapon1">
                                <option selected>Weapon2</option>
                                {{#each equipments}}
                                <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <div class="form-group ">
                                <input type="text" name="marineName" class="form-control" value="15"> {{!--CHANGE THIS TO AN INT FIELD--}}
                            </div>
                        </td>
                    </div>
                </form>
            </tr>
        </tbody>
    </table>
<h5>Equipments</h5>
<h5>ArmyLists_AssaultSquads</h5>
<h5>AssaultSquads_SpaceMarines</h5>
<h5>Sergeants_Equipments</h5>
<h5>Spacemarines_Equipments</h5>
	
